abstar>=0.5.9
abutils>=0.2.10
anndata
dnachisel
fastcluster
harmonypy
humanize
leidenalg
matplotlib
mnemonic
natsort
numpy
pandas
prettytable
pytest
python-Levenshtein
pyyaml
sample-sheet
scanpy
scanorama
scipy
scrublet
scvelo
seaborn>=0.11
umap-learn
