abstar
abutils>=0.2.5
anndata
dnachisel
fastcluster
harmonypy
leidenalg
matplotlib
mnemonic
natsort
numpy
pandas
prettytable
pytest
python-Levenshtein
scanpy
scanorama
scipy
scrublet
scvelo
seaborn>=0.11
umap-learn
